# coding: utf-8
# Date      : $date
# PROJECT   : $project_name
# File      : $filename
from core.engine import Engine
from $project_name.spiders import $spider_name
from $project_name.middlewares import $middleware_name
from $project_name.settings import $settings_name


if __name__ == "__main__":
    settings = $settings_name()
    spider = $spider_name(settings)
    middleware = $middleware_name(settings)

    engine = Engine(spider=spider,
                    settings=settings,
                    downloader_middlewares=[
                        (middleware, 300)
                    ])
    engine.run()
