# coding: utf-8
# Date      : $date
# PROJECT   : $project_name
# File      : $filename
from aiocrawler.field import Field
from aiocrawler.item import Item


class $classname(Item):
    """
    you can define your Item like this, just like scrapy Item:
    name = Field()
    website = Field()
    """
    pass

