# Date      : $date
# PROJECT   : $project_name
# File      : $filename
from aiocrawler.middlewares import BaseMiddleware


class $classname(BaseMiddleware):

    def process_request(self, request):
        pass

    def process_response(self, request, response):
        pass

    def process_exception(self, request, exception):
        pass

    def process_item(self, item):
        pass


class Async$classname(BaseMiddleware):

    async def process_request(self, request):
        pass

    async def process_response(self, request, response):
        pass

    async def process_exception(self, request, exception):
        pass

    async def process_item(self, item):
        pass
